In [1]:
%load_ext sql
%sql postgresql://jovyan:postgres@127.0.0.1:8765/rsm-docker

'Connected: jovyan@rsm-docker'

1. Find the top 5 artists based on the sales of their albums. Remember that the items actually sold are tracks and not albums directly.

In [2]:
%sql SELECT Ar."Name", sum(Il."UnitPrice") \
FROM "Artist" Ar\
LEFT JOIN "Album" Al ON Ar."ArtistId" = Al."ArtistId"\
LEFT JOIN "Track" T ON T."AlbumId" = Al."AlbumId"\
LEFT JOIN "InvoiceLine" Il ON Il."TrackId" = T."TrackId"\
LEFT JOIN "Invoice" I ON I."InvoiceId" = Il."InvoiceId"\
GROUP BY Ar."Name"\
HAVING sum(Il."UnitPrice") > 0\
ORDER BY sum(Il."UnitPrice") DESC\
LIMIT 5

 * postgresql://jovyan:***@127.0.0.1:8765/rsm-docker
5 rows affected.

[('Iron Maide', Decimal('138.60')),
 ('U2', Decimal('105.93')),
 ('Metallica', Decimal('90.09')),
 ('Led Zeppeli', Decimal('86.13')),
 ('Lost', Decimal('81.59'))]

2. Find composers who compose multiple genres of music.

In [3]:
%sql SELECT TRIM(regexp_split_to_table(T."Composer", E'[/,&-]')) as "Author",\
count(distinct "GenreId") as "Genre_Count" FROM "Track" T GROUP BY "Author" \
HAVING COUNT(distinct "GenreId") > 1

 * postgresql://jovyan:***@127.0.0.1:8765/rsm-docker
74 rows affected.

[('Adam Clayton', 2),
 ('Adrian Smith', 3),
 ('Anthony Kiedis', 2),
 ('Bill Berry', 2),
 ('Bill Ward', 2),
 ('Bobby Byrd', 2),
 ('Bob Rock', 2),
 ('Bono', 2),
 ('Brian Eno', 2),
 ('Brian Holland', 2),
 ('Bruce Dickinso', 2),
 ('Bruce Dickinson', 3),
 ('Caetano Veloso', 2),
 ('C. Burnett', 2),
 ('Chad Smith', 2),
 ('Chris Cornell', 2),
 ('Chuck Berry', 2),
 ('Collins', 2),
 ('Coverdale', 2),
 ('David Murray', 4),
 ('Deacon', 2),
 ('Do Vale', 2),
 ('Eddie Vedder', 2),
 ('Fausto Nilo', 2),
 ('Flea', 2),
 ('Geezer Butler', 2),
 ('Gilberto Gil', 4),
 ('Harris', 3),
 ('Herbert Vianna', 2),
 ('James Brown', 3),
 ('Janick Gers', 3),
 ('Jay Kay', 3),
 ('Jeff Ament', 2),
 ('John', 2),
 ('John Frusciante', 2),
 ('Jones', 2),
 ('Kurt Weill', 2),
 ('Lï¿½ Borges', 2),
 ('L. Kerslake', 2),
 ('Luiz Wanderley', 2),
 ('Lulu Santos', 2),
 ('Marisa Monte', 2),
 ('Marvin Gaye', 2),
 ('Matt Cameron', 2),
 ('May', 2),
 ('Mercury', 2),
 ('Michael Stipe', 2),
 ('Mick Jagger', 2),
 ('Mick Jones', 2),
 ('Mike Bordin', 2),
 ('Mike McCready', 2),
 ('Mike Mills', 2),
 ('Mike Patto', 2),
 ('Mike Patton', 2),
 ('Nando Reis', 4),
 ('O. Osbourne', 2),
 ('Ozzy Osbourne', 2),
 ("Paul Di'Anno", 3),
 ('Pedro Luis', 2),
 ('Peter Buck', 2),
 ('R. Daisley', 2),
 ('Robert Johnso', 2),
 ('R. Rhoads', 2),
 ('Slash', 2),
 ('Smith', 2),
 ('Steve Harris', 4),
 ('Stone Gossard', 2),
 ('Taylor', 3),
 ('The Edge', 2),
 ('Toby Smith', 2),
 ('Tony Iommi', 2),
 ('Traditional', 3),
 ('Willie Dixo', 2),
 ('Wolfgang Amadeus Mozart', 2)]

3. Find the ID and name of those customers who have purchased Jazz music.

In [4]:
%sql SELECT C."CustomerId", C."FirstName", C."LastName"\
FROM "Customer" C\
LEFT JOIN "Invoice" I ON I."CustomerId" = C."CustomerId"\
LEFT JOIN "InvoiceLine" Il ON Il."InvoiceId" = I."InvoiceId"\
LEFT JOIN "Track" T ON T."TrackId" = Il."TrackId"\
LEFT JOIN "Genre" G ON G."GenreId" = T."GenreId"\
WHERE G."Name" = 'Jazz'\
GROUP BY C."CustomerId"

 * postgresql://jovyan:***@127.0.0.1:8765/rsm-docker
32 rows affected.

[(3, 'Franï¿½ois', 'Tremblay'),
 (5, 'Frantiï¿½ek', 'Wichterlovï¿½'),
 (7, 'Astrid', 'Gruber'),
 (14, 'Mark', 'Philips'),
 (16, 'Frank', 'Harris'),
 (17, 'Jack', 'Smith'),
 (18, 'Michelle', 'Brooks'),
 (19, 'Tim', 'Goyer'),
 (20, 'Da', 'Miller'),
 (21, 'Kathy', 'Chase'),
 (22, 'Heather', 'Leacock'),
 (23, 'Joh', 'Gordo'),
 (30, 'Edward', 'Francis'),
 (31, 'Martha', 'Silk'),
 (32, 'Aaro', 'Mitchell'),
 (35, 'Madalena', 'Sampaio'),
 (37, 'Fyn', 'Zimmerman'),
 (38, 'Niklas', 'Schrï¿½der'),
 (39, 'Camille', 'Bernard'),
 (40, 'Dominique', 'Lefebvre'),
 (42, 'Wyatt', 'Girard'),
 (43, 'Isabelle', 'Mercier'),
 (44, 'Terhi', 'Hï¿½mï¿½lï¿½ine'),
 (46, 'Hugh', "O'Reilly"),
 (49, 'Stanislaw', 'Wï¿½jcik'),
 (50, 'Enrique', 'Muï¿½oz'),
 (51, 'Joakim', 'Johansso'),
 (53, 'Phil', 'Hughes'),
 (54, 'Steve', 'Murray'),
 (56, 'Diego', 'Gutiï¿½rrez'),
 (58, 'Manoj', 'Pareek'),
 (59, 'Puja', 'Srivastava')]

4. Find artists whose music are on no playlist

In [12]:
%sql SELECT DISTINCT Ar."ArtistId", Ar."Name"\
FROM "Artist" Ar\
WHERE Ar."ArtistId" NOT IN(\
    SELECT DISTINCT Ar."ArtistId"\
    FROM "PlaylistTrack" PT\
    LEFT JOIN "Track" T ON PT."TrackId" = T."TrackId"\
    LEFT JOIN "Album" A ON T."AlbumId" = A."AlbumId"\
    LEFT JOIN "Artist" Ar ON A."ArtistId" = Ar."ArtistId"\
    )\
ORDER BY "ArtistId" ASC

 * postgresql://jovyan:***@127.0.0.1:8765/rsm-docker
71 rows affected.

[(25, 'Milton Nascimento & Bebeto'),
 (26, 'Azymuth'),
 (28, 'Joï¿½o Gilberto'),
 (29, 'Bebel Gilberto'),
 (30, 'Jorge Vercilo'),
 (31, 'Baby Consuelo'),
 (32, 'Ney Matogrosso'),
 (33, 'Luiz Melodia'),
 (34, 'Nando Reis'),
 (35, 'Pedro Luï¿½s & A Parede'),
 (38, 'Banda Black Rio'),
 (39, 'Fernanda Porto'),
 (40, 'Os Cariocas'),
 (43, 'A Cor Do Som'),
 (44, 'Kid Abelha'),
 (45, 'Sandra De Sï¿½'),
 (47, 'Hermeto Pascoal'),
 (48, 'Barï¿½o Vermelho'),
 (49, 'Edson, DJ Marky & DJ Patife Featuring Fernanda Porto'),
 (60, 'Santana Feat. Dave Matthews'),
 (61, 'Santana Feat. Everlast'),
 (62, 'Santana Feat. Rob Thomas'),
 (63, 'Santana Feat. Lauryn Hill & Cee-Lo'),
 (64, 'Santana Feat. The Project G&B'),
 (65, 'Santana Feat. Manï¿½'),
 (66, 'Santana Feat. Eagle-Eye Cherry'),
 (67, 'Santana Feat. Eric Clapto'),
 (71, 'Vinï¿½cius De Moraes & Baden Powell'),
 (73, 'Vinï¿½cius E Qurteto Em Cy'),
 (74, 'Vinï¿½cius E Odette Lara'),
 (75, 'Vinicius, Toquinho & Quarteto Em Cy'),
 (107, 'Motï¿½rhead & Girlschool'),
 (119, 'Peter Tosh'),
 (123, 'R.E.M. Feat. KRS-One'),
 (129, 'Simply Red'),
 (154, 'Whitesnake'),
 (160, 'Christina Aguilera featuring BigElf'),
 (161, "Aerosmith & Sierra Leone's Refugee Allstars"),
 (162, 'Los Lonely Boys'),
 (163, 'Corinne Bailey Rae'),
 (164, 'Dhani Harrison & Jakob Dyla'),
 (165, 'Jackson Browne'),
 (166, 'Avril Lavigne'),
 (167, 'Big & Rich'),
 (168, "Youssou 'Dour"),
 (169, 'Black Eyed Peas'),
 (170, 'Jack Johnso'),
 (171, 'Ben Harper'),
 (172, 'Snow Patrol'),
 (173, 'Matisyahu'),
 (174, 'The Postal Service'),
 (175, 'Jaguares'),
 (176, 'The Flaming Lips'),
 (177, "Jack's Mannequin & Mick Fleetwood"),
 (178, 'Regina Spektor'),
 (181, 'Xis'),
 (182, 'Nega Gizza'),
 (183, 'Gustavo & Andres Veiga & Salazar'),
 (184, 'Rodox'),
 (185, 'Charlie Brown Jr.'),
 (186, 'Pedro Luï¿½s E A Parede'),
 (187, 'Los Hermanos'),
 (188, 'Mundo Livre S/A'),
 (189, 'Otto'),
 (190, 'Instituto'),
 (191, 'Naï¿½ï¿½o Zumbi'),
 (192, 'DJ Dolores & Orchestra Santa Massa'),
 (193, 'Seu Jorge'),
 (194, 'Sabotage E Instituto'),
 (195, 'Stereo Maracana'),
 (239, 'Academy of St. Martin in the Fields, Sir Neville Marriner & William Bennett')]

5. What are the top 3 words used in track titles?

In [9]:
%sql with words AS (SELECT regexp_split_to_table(lower(trim("Name")), E'[(),!:,"" ]') as a FROM "Track")\
SELECT a, count(a)\
FROM "words"\
WHERE "a" <> ''\
GROUP BY "a"\
ORDER BY "count" DESC\
LIMIT 3

 * postgresql://jovyan:***@127.0.0.1:8765/rsm-docker
3 rows affected.

[('the', 516), ('of', 191), ('a', 136)]